@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Weber State University<br />
    Hell, HL. 66666<br />
    <abbr title="Phone">P:</abbr>
    1.800.STAY.AWAY
</address>

<address>
    <strong>Support:</strong> <a href="#">YourScrewed@hell.com</a><br />
    <strong>Marketing:</strong> <a href="#">SchoolSells@hell.com</a>
</address>
